.about-container {
    color: white;
    span {
        color: #00C2FF;
    }
    .pics-container{
    display: flex;
    justify-content: center;
    }

    .top-picture{
    width: 200px;
    }
}
.skill-container {
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    .development {
        margin:10px;
        h3 {
            color: rgb(0, 217, 255);
        }
        color: white;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        background-image: linear-gradient(to right, #DB00FF, #230C59);
    }
    .design {
        h3 {
            color: rgb(204, 0, 255);
        }
        margin:10px;
        color: white;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        background-image: linear-gradient(to right, #01268b, #1f9dcf);
    }
    .modeling {
        h3 {
            color: rgb(255, 115, 0);
        }
        margin:10px;
        color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        background-image: linear-gradient(to right, #440083, #000549);
    }
}

@media screen and (min-width: 768px) {
    .about-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about-text {
        padding-left: 20px;
    }
    .skill-container {
        display: flex;
        flex-wrap: nowrap;
    }
}