@use "variables";

.main-section{
    
  
    text-align: center;
    h1{
        color: rgb(255, 217, 0);
       margin-bottom: 0px;
         font-family: variables.$roboto;
    }
    span {
        font-size: 72px;
        background-image: linear-gradient(to right, #DB00FF, #00C2FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        color: rgb(218, 10, 208);
      margin-top: 0px;
      opacity: 60%;
    }

    img {
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
    .work {
        color: white;
        border-radius: 20px;
        border: none;
        background-image: linear-gradient(to right, #DB00FF, #230C59);
        padding: 5px 10px 5px 10px;
       margin: 20px;
    }
}

