.projects-container {
    img {
        width: 80%;
border-radius: 10px;
display: grid;


    }
     color: white;
     .work {
        color: white;
        border-radius: 20px;
        border: none;
        background-image: linear-gradient(to right, #DB00FF, #230C59);
        padding: 5px 10px 5px 10px;
       margin: 20px;
    }
}